*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #222;
    background: url('weather-app-img/images/sky-background-video-conferencing_23-2148623068.avif');
    background-size: 1920px;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    width: 960px; 
    margin: 10px auto;

}

.card {
    width:100%;
    max-width: 470px;
    background:linear-gradient(135deg,#52c6e0,#2d95f6);
    color:#fff;
    margin:100px -20px 0px 5px;
    border-radius: 20px;
    padding:40px 40px;
    text-align: center;
    margin-right: 20px;
   
}
.fiveday {
    flex: 1;
    width: 770px;
    background: linear-gradient(135deg, #52c6e0, #2d95f6);
    color: #fff;
    border-radius: 20px;
    padding: 50px 100px 0px 100px;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    margin:100px -20px 0px 5px;
}

.row1,.row2 {
    display: flex;
    margin-bottom: 50px; 
}

.day {
    flex: 1;
    margin: 0 50px; 
}

.day h3 {
    margin-bottom: 10px;
}

.day img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    display: none;
}

.day p {
    font-size: 20px;
    margin: 0;
}

.search{
    width:100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.search input {
    border: 0;
    outline: 0;
    background-color: azure;
    padding: 10px 25px;
    border-radius: 20px;
    height: 50px;
    flex: 1;
    margin-right: 20px;
    font-size:15px;
}
.search button{
    border:0;
    outline: 0;
    background:#ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor:pointer;
}
.search button img{
    width:15px;
}
.weather-icon{
    width:170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 50px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width:40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 30px;
    margin-right: 20px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display:none;
}